<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    <a href="/" class="logo d-flex align-items-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1>ECatalog</h1>
    </a>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        {% if request.path == '/' %}
        <li><a href="#katalog">Catalog</a></li>
        {% else %}
        <li><a href="/#katalog">Catalog</a></li>
        {% endif %}
        <li class="dropdown">
          <a href="#"><span>Collections</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            {% for data in datas %}
            <li><a href="{{ url_for('detail', id=data['id'] ) }}">{{data['namaProduct']}}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li><a href="#footer">Contact</a></li>
      </ul>
    </nav>
    <!-- .navbar -->

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
  </div>
</header>
